In [172]:
#Importing Pandas library for cleaning up raw data
import pandas as pd
import numpy as np

In [173]:
#File name of raw csv, which should be in the same folder/directory as the Preprocessing Notebook
raw_filename = 'NCWIT_DataV2_RawData.csv'

In [174]:
rawdata_dataframe = pd.read_csv(raw_filename)
rawdata_dataframe

,Record#,CIP# Only,Major Program Name,Degree Level,NCWIT Participant,Institution,What degrees does your institution offer?,School Year,When do students typically declare their major?,"Enroll, Female: Avg. ACT Math Score (Enrl F)",...,Nonresident Alien (Min. M).1,Race/Ethnicity Unknown (Min. M).1,Nonresident Alien (Min. F).2,Race/Ethnicity Unknown (Min. F).2,Nonresident Alien (Min. M).2,Race/Ethnicity Unknown (Min. M).2,Nonresident Alien (Tot. F),Race/Ethnicity Unknown (Tot. F),Nonresident Alien (Tot. M),Race/Ethnicity Unknown (Tot. M)
0,1231.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2005-2006,End of 2nd Year,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1233.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2007-2008,End of 2nd Year,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1234.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2008-2009,End of 2nd Year,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1235.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2009-2010,End of 2nd Year,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1236.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2010-2011,End of 2nd Year,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1237.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2011-2012,End of 2nd Year,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1498.0,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2004-2005,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1499.0,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2005-2006,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1500.0,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2006-2007,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1501.0,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2007-2008,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1502.0,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2008-2009,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1503.0,11.01,Computer Science / Engineering,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2009-2010,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2049.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2010-2011,Upon Enrollment,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2050.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2011-2012,Upon Enrollment,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2051.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2012-2013,Upon Enrollment,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2052.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",128.0,"Bachelor's, master's, and Ph.D. degrees",2013-2014,Upon Enrollment,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2079.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2008-2009,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2080.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2009-2010,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2081.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2010-2011,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.0,6.0,94.0,69.0
20,2082.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2011-2012,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,7.0,116.0,56.0
21,2083.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2012-2013,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,22.0,6.0,123.0,52.0
22,2084.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2013-2014,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,30.0,7.0,145.0,56.0
23,2085.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",88.0,"Bachelor's, master's, and Ph.D. degrees",2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,29.0,9.0,152.0,60.0
24,2168.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21.0,"Bachelor's, master's, and Ph.D. degrees",2004-2005,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2169.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21.0,"Bachelor's, master's, and Ph.D. degrees",2005-2006,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2170.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21.0,"Bachelor's, master's, and Ph.D. degrees",2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2171.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21.0,"Bachelor's, master's, and Ph.D. degrees",2007-2008,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2172.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21.0,"Bachelor's, master's, and Ph.D. degrees",2008-2009,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2173.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Academic Alliance, Academic Alliance",21.0,"Bachelor's, master's, and Ph.D. degrees",2009-2010,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
rawdata_dataframe[rawdata_dataframe["Institution"].isin(["54"]) & rawdata_dataframe["Major Program Name"].isin(["Computer Science"])]

,Record#,CIP# Only,Major Program Name,Degree Level,NCWIT Participant,Institution,What degrees does your institution offer?,School Year,When do students typically declare their major?,"Enroll, Female: Avg. ACT Math Score (Enrl F)",...,Nonresident Alien (Min. M).1,Race/Ethnicity Unknown (Min. M).1,Nonresident Alien (Min. F).2,Race/Ethnicity Unknown (Min. F).2,Nonresident Alien (Min. M).2,Race/Ethnicity Unknown (Min. M).2,Nonresident Alien (Tot. F),Race/Ethnicity Unknown (Tot. F),Nonresident Alien (Tot. M),Race/Ethnicity Unknown (Tot. M)
655,1226.0,11.07,Computer Science,Bachelor's,"Extension Services, Academic Alliance",54.0,Bachelor's and master's degrees only,2005-2006,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
656,1227.0,11.07,Computer Science,Bachelor's,"Extension Services, Academic Alliance",54.0,Bachelor's and master's degrees only,2006-2007,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,1228.0,11.07,Computer Science,Bachelor's,"Extension Services, Academic Alliance",54.0,Bachelor's and master's degrees only,2007-2008,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
658,1229.0,11.07,Computer Science,Bachelor's,"Extension Services, Academic Alliance",54.0,Bachelor's and master's degrees only,2008-2009,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
659,1230.0,11.07,Computer Science,Bachelor's,"Extension Services, Academic Alliance",54.0,Bachelor's and master's degrees only,2009-2010,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
859,2243.0,11.07,Computer Science,Bachelor's,Academic Alliance,54.0,NaN,2004-2005,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
860,2249.0,11.07,Computer Science,Bachelor's,Academic Alliance,54.0,NaN,2010-2011,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,2250.0,11.07,Computer Science,Bachelor's,Academic Alliance,54.0,NaN,2011-2012,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Filter raw data by Program of NCIW Extention Services, Academic Alliances, 2007-2016, Computer Science Program

In [217]:
#Column Name = NCWIT Participant
targetFilter = 'Extension Services, Academic Alliance'
yearFilter =['2007-2008','2008-2009','2009-2010','2010-2011','2011-2012','2012-2013','2013-2014','2014-2015','2015-2016']
new_dataframe = rawdata_dataframe[rawdata_dataframe["NCWIT Participant"].isin([targetFilter]) & rawdata_dataframe["Major Program Name"].isin(["Computer Science"]) & rawdata_dataframe["School Year"].isin(yearFilter)]

#Masking
#mask = rawdata_dataframe.isin({'NCWIT Participant': [targetFilter], 'School Year': ['2005-2006', '2006-2007', '2007-2008']})
#rawdata_dataframe.where(mask)

### Calculate Male,Female,Total Enrollment

In [218]:
new_dataframe['Male Enrollment'] = new_dataframe['Totals, Male: Enrolled in DIFFERENT MAJOR (Tot. M)'] + new_dataframe['Totals, Male: Enrolled in SAME MAJOR (Tot. M)'] - new_dataframe['Totals, Male: Graduated (Tot. M)'] - new_dataframe['Enroll, Male: Transfer Students (Enrl M)'] - new_dataframe['Enroll, Male: New Enrollments (Enrl M)']
new_dataframe['Female Enrollment'] = new_dataframe['Totals, Female: Enrolled in DIFFERENT MAJOR (Tot. F)'] + new_dataframe['Totals, Female: Enrolled in SAME MAJOR (Tot. F)'] - new_dataframe['Totals, Female: Graduated (Tot. F)'] - new_dataframe['Enroll, Female: Transfer Students (Enrl F)'] - new_dataframe['Enroll, Female: New Enrollments (Enrl F)']
new_dataframe['Total Enrollment'] = new_dataframe['Female Enrollment'] + new_dataframe['Male Enrollment']

C:\Users\jchin\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\jchin\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jchin\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [237]:
#Get all Institutions
institutions = new_dataframe.Institution.unique()
print(institutions)

prevYear = None
prevTotEnrollment = None
prevMaleEnrollment = None
prevFemaleEnrollment = None

#create empty/NaN for Retention Calc
new_dataframe['Overall Retention'] = np.nan
new_dataframe['Male Retention'] = np.nan
new_dataframe['Female Retention'] = np.nan

for inst in institutions:    
    #get rows of data for each inst
    for i,row in new_dataframe.loc[new_dataframe['Institution'].isin([inst]),:].iterrows():        
        if prevYear is None:
           #Set prevYear for the first time
           prevYear = int(new_dataframe.loc[i]["School Year"][:4])
            
            
           prevTotEnrollment = new_dataframe.loc[i]["Total Enrollment"]
           prevMaleEnrollment = new_dataframe.loc[i]["Male Enrollment"]
           prevFemaleEnrollment = new_dataframe.loc[i]["Female Enrollment"]      
        elif ( int(prevYear + 1) == int(new_dataframe.loc[i]["School Year"][:4] )):
            curYear = int(new_dataframe.loc[i]["School Year"][:4])
            currTotEnrollment =  new_dataframe.loc[i]["Total Enrollment"]
            currMaleEnrollment =  new_dataframe.loc[i]["Male Enrollment"]
            currFemaleEnrollment =  new_dataframe.loc[i]["Female Enrollment"]

            
            
            #calculate retention for consecutive year
            new_dataframe.at[i, 'Overall Retention'] = currTotEnrollment / prevTotEnrollment
            new_dataframe.at[i, 'Male Retention'] = currMaleEnrollment / prevMaleEnrollment
            new_dataframe.at[i, 'Female Retention'] = currFemaleEnrollment / prevFemaleEnrollment
           
            
            #update previous year 
            prevYear = curYear
            prevTotEnrollment = currTotEnrollment
            prevMaleEnrollment = currMaleEnrollment   
            prevFemaleEnrollment = currFemaleEnrollment   
        else:
            prevYear =  int(new_dataframe.loc[i]["School Year"][:4])
            prevTotEnrollment = new_dataframe.loc[i]["Total Enrollment"]
            prevMaleEnrollment = new_dataframe.loc[i]["Male Enrollment"]
            prevFemaleEnrollment = new_dataframe.loc[i]["Female Enrollment"]   
        
    #reset prevYear for next institution
    prevYear = None
    prevTotEnrollment = None
    prevMaleEnrollment = None
    prevFemaleEnrollment = None

[  54.  114.  487.   29.  388.  435.   72.  302.   82.   13.  422.  287.
  462.  131.  412.  361.  493.   38.   83.  117.  469.  319.   26.   64.
  194.  424.   88.  500.  346.   75.  373.   41.   46.  489.  115.  238.
  324.  179.  490.  157.  155.  216.  249.    6.]

C:\Users\jchin\Anaconda2\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\jchin\Anaconda2\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\jchin\Anaconda2\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

ZeroDivisionError: integer division or modulo by zero

### Create variables for plotting

In [227]:
# x-axis values
x = ['2007','2008','2009','2010','2011','2012','2013','2014','2015']

plotDictionary = {}

# create y values for (Male, Female, Overall Retention) for each school
for inst in institutions[0:2]:
    #set 0 array for start    
    mRetention = 9*[0]
    fRetention = 9*[0]
    oRetention = 9*[0]
    
    #get rows of data for each inst
    for year in x:
        print("searching for year %s") %year
        for i,row in new_dataframe.loc[new_dataframe['Institution'].isin([inst]),:].iterrows():     
            if(int(year) == int(new_dataframe.loc[i]["School Year"][:4] )):
                print(new_dataframe.loc[i,'Institution'])
                if(pd.isnull(new_dataframe.loc[i]["Male Retention"])):
                    mRetention[x.index(year)] = -1
                    fRetention[x.index(year)] = -1
                    oRetention[x.index(year)] = -1
                    break
                else:
                    mRetention[x.index(year)] = new_dataframe.loc[i]["Male Retention"]
                    fRetention[x.index(year)] = new_dataframe.loc[i]["Female Retention"]
                    oRetention[x.index(year)] = new_dataframe.loc[i]["Overall Retention"]
                    break
            else:
                print("cant find %s") %year
    plotDictionary[inst] = mRetention, fRetention, oRetention

searching for year 2007
54.0
searching for year 2008
cant find 2008
54.0
searching for year 2009
cant find 2009
cant find 2009
54.0
searching for year 2010
cant find 2010
cant find 2010
cant find 2010
searching for year 2011
cant find 2011
cant find 2011
cant find 2011
searching for year 2012
cant find 2012
cant find 2012
cant find 2012
searching for year 2013
cant find 2013
cant find 2013
cant find 2013
searching for year 2014
cant find 2014
cant find 2014
cant find 2014
searching for year 2015
cant find 2015
cant find 2015
cant find 2015
searching for year 2007
114.0
searching for year 2008
cant find 2008
114.0
searching for year 2009
cant find 2009
cant find 2009
searching for year 2010
cant find 2010
cant find 2010
searching for year 2011
cant find 2011
cant find 2011
searching for year 2012
cant find 2012
cant find 2012
searching for year 2013
cant find 2013
cant find 2013
searching for year 2014
cant find 2014
cant find 2014
searching for year 2015
cant find 2015
cant find 2015

In [232]:
plotDictionary[114]

([-1, 0.33333333333333331, 0, 0, 0, 0, 0, 0, 0],
 [-1, nan, 0, 0, 0, 0, 0, 0, 0],
 [-1, nan, 0, 0, 0, 0, 0, 0, 0])

### Output Data to csv

In [183]:
#Output results to csv

new_dataframe.to_csv("clean_data.csv", sep='\t')

In [233]:
new_dataframe[['Institution','School Year','Totals, Male: Enrolled in DIFFERENT MAJOR (Tot. M)','Totals, Male: Enrolled in SAME MAJOR (Tot. M)' ,'Totals, Male: Graduated (Tot. M)' ,'Enroll, Male: Transfer Students (Enrl M)','Enroll, Male: New Enrollments (Enrl M)','Male Enrollment','Total Enrollment','Overall Retention','Male Retention','Female Retention']][0:50]

,Institution,School Year,"Totals, Male: Enrolled in DIFFERENT MAJOR (Tot. M)","Totals, Male: Enrolled in SAME MAJOR (Tot. M)","Totals, Male: Graduated (Tot. M)","Enroll, Male: Transfer Students (Enrl M)","Enroll, Male: New Enrollments (Enrl M)",Male Enrollment,Total Enrollment,Overall Retention,Male Retention,Female Retention
657,54.0,2007-2008,23.0,301.0,42.0,9.0,148.0,125.0,138.0,NaN,NaN,NaN
658,54.0,2008-2009,25.0,271.0,28.0,8.0,100.0,160.0,180.0,1.304348,1.280000,1.538462
659,54.0,2009-2010,21.0,307.0,35.0,9.0,155.0,129.0,149.0,0.827778,0.806250,1.000000
663,114.0,2007-2008,5.0,23.0,5.0,3.0,14.0,6.0,3.0,NaN,NaN,NaN
664,114.0,2008-2009,4.0,14.0,7.0,1.0,8.0,2.0,NaN,NaN,0.333333,NaN
669,487.0,2007-2008,64.0,257.0,39.0,9.0,135.0,138.0,148.0,NaN,NaN,NaN
670,487.0,2008-2009,56.0,239.0,59.0,10.0,85.0,141.0,151.0,1.020270,1.021739,1.000000
671,487.0,2009-2010,49.0,261.0,63.0,11.0,89.0,147.0,167.0,1.105960,1.042553,2.000000
672,487.0,2010-2011,68.0,238.0,71.0,8.0,74.0,153.0,170.0,1.017964,1.040816,0.850000
673,487.0,2011-2012,60.0,279.0,65.0,12.0,111.0,151.0,176.0,1.035294,0.986928,1.470588
677,29.0,2007-2008,12.0,89.0,8.0,4.0,36.0,53.0,72.0,NaN,NaN,NaN
678,388.0,2008-2009,NaN,NaN,NaN,17.0,115.0,NaN,NaN,NaN,NaN,NaN
679,388.0,2009-2010,NaN,NaN,62.0,27.0,108.0,NaN,NaN,NaN,NaN,NaN
680,388.0,2010-2011,NaN,NaN,69.0,29.0,125.0,NaN,NaN,NaN,NaN,NaN
681,388.0,2011-2012,NaN,NaN,75.0,35.0,137.0,NaN,NaN,NaN,NaN,NaN
682,388.0,2012-2013,NaN,NaN,100.0,48.0,206.0,NaN,NaN,NaN,NaN,NaN
686,435.0,2007-2008,70.0,431.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,72.0,2007-2008,12.0,79.0,28.0,4.0,40.0,19.0,20.0,NaN,NaN,NaN
694,72.0,2008-2009,12.0,82.0,20.0,3.0,48.0,23.0,27.0,1.350000,1.210526,4.000000
695,72.0,2009-2010,8.0,76.0,22.0,3.0,34.0,25.0,28.0,1.037037,1.086957,0.750000
696,72.0,2010-2011,3.0,93.0,16.0,2.0,41.0,37.0,42.0,1.500000,1.480000,1.666667
697,72.0,2011-2012,7.0,102.0,23.0,5.0,46.0,35.0,42.0,1.000000,0.945946,1.400000
698,72.0,2012-2013,9.0,115.0,21.0,1.0,37.0,65.0,68.0,1.619048,1.857143,0.428571
701,302.0,2007-2008,NaN,71.0,40.0,16.0,127.0,NaN,NaN,NaN,NaN,NaN
702,302.0,2008-2009,47.0,233.0,45.0,23.0,149.0,63.0,73.0,NaN,NaN,NaN
703,82.0,2008-2009,NaN,NaN,NaN,60.0,180.0,NaN,NaN,NaN,NaN,NaN
704,82.0,2009-2010,NaN,NaN,91.0,52.0,161.0,NaN,NaN,NaN,NaN,NaN
705,82.0,2010-2011,NaN,NaN,64.0,67.0,207.0,NaN,NaN,NaN,NaN,NaN
706,82.0,2011-2012,NaN,NaN,58.0,74.0,191.0,NaN,NaN,NaN,NaN,NaN
707,82.0,2012-2013,NaN,NaN,71.0,83.0,227.0,NaN,NaN,NaN,NaN,NaN
712,13.0,2007-2008,NaN,NaN,NaN,40.0,105.0,NaN,NaN,NaN,NaN,NaN
713,13.0,2008-2009,39.0,193.0,20.0,48.0,128.0,36.0,35.0,NaN,NaN,NaN
714,13.0,2009-2010,61.0,228.0,29.0,60.0,141.0,59.0,72.0,2.057143,1.638889,-13.000000
715,13.0,2010-2011,43.0,260.0,39.0,46.0,134.0,84.0,86.0,1.194444,1.423729,0.153846
716,13.0,2011-2012,36.0,293.0,51.0,76.0,170.0,32.0,45.0,0.523256,0.380952,6.500000
717,13.0,2012-2013,0.0,0.0,60.0,92.0,211.0,-363.0,-422.0,-9.377778,-11.343750,-4.538462
720,422.0,2007-2008,1.0,140.0,45.0,0.0,38.0,58.0,81.0,NaN,NaN,NaN
721,422.0,2008-2009,4.0,161.0,59.0,2.0,27.0,77.0,99.0,1.222222,1.327586,0.956522
722,422.0,2009-2010,16.0,160.0,58.0,0.0,42.0,76.0,92.0,0.929293,0.987013,0.727273
723,422.0,2010-2011,10.0,150.0,66.0,1.0,26.0,67.0,92.0,1.000000,0.881579,1.562500
728,287.0,2007-2008,26.0,52.0,20.0,81.0,366.0,-389.0,-486.0,NaN,NaN,NaN
729,287.0,2008-2009,18.0,72.0,12.0,84.0,367.0,-373.0,-468.0,0.962963,0.958869,0.979381
730,287.0,2009-2010,61.0,33.0,20.0,136.0,487.0,-549.0,-679.0,1.450855,1.471850,1.368421
731,287.0,2010-2011,27.0,72.0,15.0,131.0,478.0,-525.0,-654.0,0.963181,0.956284,0.992308
732,287.0,2011-2012,12.0,96.0,18.0,136.0,533.0,-579.0,-683.0,1.044343,1.102857,0.806202
733,287.0,2012-2013,NaN,NaN,34.0,151.0,586.0,NaN,NaN,NaN,NaN,NaN
737,462.0,2007-2008,16.0,187.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,131.0,2007-2008,3.0,86.0,40.0,3.0,44.0,2.0,-1.0,NaN,NaN,NaN
742,131.0,2008-2009,NaN,NaN,NaN,4.0,57.0,NaN,NaN,NaN,NaN,NaN
743,131.0,2010-2011,0.0,198.0,75.0,0.0,60.0,63.0,85.0,NaN,NaN,NaN

In [234]:
new_dataframe[['Institution','School Year','Totals, Female: Enrolled in DIFFERENT MAJOR (Tot. F)','Totals, Female: Enrolled in SAME MAJOR (Tot. F)' ,'Totals, Female: Graduated (Tot. F)' ,'Enroll, Female: Transfer Students (Enrl F)','Enroll, Female: New Enrollments (Enrl F)','Female Enrollment','Overall Retention','Male Retention','Female Retention']][0:30]

,Institution,School Year,"Totals, Female: Enrolled in DIFFERENT MAJOR (Tot. F)","Totals, Female: Enrolled in SAME MAJOR (Tot. F)","Totals, Female: Graduated (Tot. F)","Enroll, Female: Transfer Students (Enrl F)","Enroll, Female: New Enrollments (Enrl F)",Female Enrollment,Overall Retention,Male Retention,Female Retention
657,54.0,2007-2008,5.0,28.0,6.0,0.0,14.0,13.0,NaN,NaN,NaN
658,54.0,2008-2009,7.0,28.0,2.0,1.0,12.0,20.0,1.304348,1.280000,1.538462
659,54.0,2009-2010,5.0,36.0,2.0,1.0,18.0,20.0,0.827778,0.806250,1.000000
663,114.0,2007-2008,1.0,1.0,1.0,0.0,4.0,-3.0,NaN,NaN,NaN
664,114.0,2008-2009,0.0,5.0,0.0,NaN,1.0,NaN,NaN,0.333333,NaN
669,487.0,2007-2008,11.0,18.0,5.0,0.0,14.0,10.0,NaN,NaN,NaN
670,487.0,2008-2009,8.0,16.0,4.0,0.0,10.0,10.0,1.020270,1.021739,1.000000
671,487.0,2009-2010,7.0,23.0,2.0,0.0,8.0,20.0,1.105960,1.042553,2.000000
672,487.0,2010-2011,7.0,28.0,5.0,4.0,9.0,17.0,1.017964,1.040816,0.850000
673,487.0,2011-2012,12.0,33.0,7.0,0.0,13.0,25.0,1.035294,0.986928,1.470588
677,29.0,2007-2008,8.0,36.0,7.0,3.0,15.0,19.0,NaN,NaN,NaN
678,388.0,2008-2009,NaN,NaN,NaN,4.0,12.0,NaN,NaN,NaN,NaN
679,388.0,2009-2010,NaN,NaN,5.0,2.0,8.0,NaN,NaN,NaN,NaN
680,388.0,2010-2011,NaN,NaN,6.0,2.0,14.0,NaN,NaN,NaN,NaN
681,388.0,2011-2012,NaN,NaN,8.0,4.0,12.0,NaN,NaN,NaN,NaN
682,388.0,2012-2013,NaN,NaN,9.0,2.0,34.0,NaN,NaN,NaN,NaN
686,435.0,2007-2008,7.0,24.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
693,72.0,2007-2008,1.0,7.0,3.0,2.0,2.0,1.0,NaN,NaN,NaN
694,72.0,2008-2009,1.0,9.0,1.0,0.0,5.0,4.0,1.350000,1.210526,4.000000
695,72.0,2009-2010,0.0,10.0,2.0,1.0,4.0,3.0,1.037037,1.086957,0.750000
696,72.0,2010-2011,0.0,12.0,3.0,0.0,4.0,5.0,1.500000,1.480000,1.666667
697,72.0,2011-2012,1.0,11.0,2.0,0.0,3.0,7.0,1.000000,0.945946,1.400000
698,72.0,2012-2013,1.0,13.0,3.0,1.0,7.0,3.0,1.619048,1.857143,0.428571
701,302.0,2007-2008,NaN,8.0,4.0,1.0,6.0,NaN,NaN,NaN,NaN
702,302.0,2008-2009,15.0,22.0,3.0,1.0,23.0,10.0,NaN,NaN,NaN
703,82.0,2008-2009,NaN,NaN,NaN,6.0,19.0,NaN,NaN,NaN,NaN
704,82.0,2009-2010,NaN,NaN,4.0,6.0,26.0,NaN,NaN,NaN,NaN
705,82.0,2010-2011,NaN,NaN,7.0,10.0,33.0,NaN,NaN,NaN,NaN
706,82.0,2011-2012,NaN,NaN,7.0,13.0,25.0,NaN,NaN,NaN,NaN
707,82.0,2012-2013,NaN,NaN,20.0,15.0,38.0,NaN,NaN,NaN,NaN

In [6]:
def getColumnData(colname):
    return rawdata_dataframe[colname]

#example
getColumnData('Record#')

0       1231.0
1       1232.0
2       1233.0
3       1234.0
4       1235.0
5       1236.0
6       1237.0
7       1498.0
8       1499.0
9       1500.0
10      1501.0
11      1502.0
12      1503.0
13      2049.0
14      2050.0
15      2051.0
16      2052.0
17      2079.0
18      2080.0
19      2081.0
20      2082.0
21      2083.0
22      2084.0
23      2085.0
24      2168.0
25      2169.0
26      2170.0
27      2171.0
28      2172.0
29      2173.0
         ...
3875       NaN
3876       NaN
3877       NaN
3878       NaN
3879       NaN
3880       NaN
3881       NaN
3882       NaN
3883       NaN
3884       NaN
3885       NaN
3886       NaN
3887       NaN
3888       NaN
3889       NaN
3890       NaN
3891       NaN
3892       NaN
3893       NaN
3894       NaN
3895       NaN
3896       NaN
3897       NaN
3898       NaN
3899       NaN
3900       NaN
3901       NaN
3902       NaN
3903       NaN
3904       NaN
Name: Record#, Length: 3905, dtype: float64

In [11]:
#Filter Column by string and remove NaN (null or Not a Number values in data)

def filterColByStr(colname,string_filter):
    return rawdata_dataframe[rawdata_dataframe[colname].str.contains(string_filter, na = False )]

#Step-by-step explanation (from inner to outer):
#df['column name'] selects the ids column of the data frame (techincally, the object df[ids] is of type pandas.Series)
#df['ids'].str allows us to apply vectorized string methods (e.g., lower, contains) to the Series
#df['ids'].str.contains('') checks each element of the Series as to whether the element value has the string filter as a substring. The result is a Series of Booleans indicating True or False about the existence of a 'ball' substring.
#df[df['ids'].str.contains('ball')] applies the Boolean 'mask' to the dataframe and returns a view containing appropriate records.
#na = False removes NA / NaN values from consideration; otherwise a ValueError may be returned.
 
filterColByStr('What degrees does your institution offer?',"Bachelor's and master's degrees only")

,Record#,CIP# Only,Major Program Name,Degree Level,NCWIT Participant,Institution,What degrees does your institution offer?,School Year,When do students typically declare their major?,"Enroll, Female: Avg. ACT Math Score (Enrl F)",...,Nonresident Alien (Min. M).1,Race/Ethnicity Unknown (Min. M).1,Nonresident Alien (Min. F).2,Race/Ethnicity Unknown (Min. F).2,Nonresident Alien (Min. M).2,Race/Ethnicity Unknown (Min. M).2,Nonresident Alien (Tot. F),Race/Ethnicity Unknown (Tot. F),Nonresident Alien (Tot. M),Race/Ethnicity Unknown (Tot. M)
0,1231.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2005-2006,End of 2nd Year,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1233.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2007-2008,End of 2nd Year,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1234.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2008-2009,End of 2nd Year,31.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1235.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2009-2010,End of 2nd Year,27.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1236.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2010-2011,End of 2nd Year,24.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1237.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2011-2012,End of 2nd Year,26.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,4242.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2012-2013,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0
54,4243.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2013-2014,End of 2nd Year,23.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,4.0
55,4267.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2013-2014,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,15.0
56,4268.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2012-2013,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,14.0
57,4269.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2011-2012,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,13.0
58,4270.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2010-2011,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,11.0
59,4271.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2009-2010,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,20.0
87,4943.0,11.01,Computer and Information Sciences,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,10.0
88,4944.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2015-2016,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,27.0
89,4945.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",370.0,Bachelor's and master's degrees only,2016-2017,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,24.0
100,1258.0,11.0103,Applied Information Technology,Bachelor's,"Extension Services, Academic Alliance",85.0,Bachelor's and master's degrees only,2012-2013,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,2010.0,11.0103,Applied Information Technology,Bachelor's,"Extension Services, Academic Alliance",85.0,Bachelor's and master's degrees only,2013-2014,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2716.0,11.0103,Information Technology,Bachelor's,Academic Alliance,320.0,Bachelor's and master's degrees only,2009-2010,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,NaN
229,4439.0,11.0103,Information Technology,Bachelor's,Academic Alliance,320.0,Bachelor's and master's degrees only,2015-2016,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,3.0,6.0
230,4442.0,11.0103,Information Technology,Bachelor's,Academic Alliance,320.0,Bachelor's and master's degrees only,2012-2013,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,9.0
231,4443.0,11.0103,Information Technology,Bachelor's,Academic Alliance,320.0,Bachelor's and master's degrees only,2013-2014,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,5.0
232,4444.0,11.0103,Information Technology,Bachelor's,Academic Alliance,320.0,Bachelor's and master's degrees only,2014-2015,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2.0,5.0
233,4534.0,11.0103,Information Technology,Bachelor's,Academic Alliance,485.0,Bachelor's and master's degrees only,2015-2016,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,4563.0,11.0103,Information Technology,Bachelor's,"Academic Alliance, IPEDS",295.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,15.0,2.0
245,5047.0,11.0103,Information Technology,Bachelor's,Academic Alliance,320.0,Bachelor's and master's degrees only,2004-2005,End of 1st Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,3.0,NaN
291,4565.0,11.0104,Informatics,Bachelor's,"Academic Alliance, IPEDS",295.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0
644,4479.0,11.05,Computer Information Systems,Bachelor's,Academic Alliance,485.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,4481.0,11.05,Computer Information Systems,Bachelor's,Academic Alliance,43.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338,4029.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2013-2014,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2339,4036.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2012-2013,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2340,4042.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2011-2012,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2341,4048.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2010-2011,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2342,4054.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2009-2010,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2369,4516.0,14.0900,Computer Engineering,Bachelor'ss,Academic Alliance,476.0,Bachelor's and master's degrees only,2015-2016,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2377,4861.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2015-2016,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2378,4862.0,14.0900,Computer Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2016-2017,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2446,4435.0,14.0903,Software Engineering,Bachelor's,Academic Alliance,463.0,Bachelor's and master's degrees only,2015-2016,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2527,4024.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2528,4030.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2013-2014,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2529,4037.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2012-2013,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2530,4043.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2011-2012,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2531,4049.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2010-2011,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2532,4055.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2009-2010,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2594,4859.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2015-2016,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,12.0,1.0
2595,4860.0,14.1000,Electrical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2016-2017,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0
2671,4025.0,14.1900,Mechanical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2014-2015,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2672,4031.0,14.1900,Mechanical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2013-2014,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2673,4038.0,14.1900,Mechanical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2012-2013,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2674,4044.0,14.1900,Mechanical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2011-2012,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2675,4050.0,14.1900,Mechanical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2010-2011,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2676,4056.0,14.1900,Mechanical Engineering,Bachelor's,"Extension Services, Academic Alliance",75.0,Bachelor's and master's degrees only,2009-2010,Other,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2885,4561.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,295.0,Bachelor's and master's degrees only,2014-2015,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3.0,0.0
2887,4712.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,206.0,Bachelor's and master's degrees only,2014-2015,Upon Enrollment,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,3.0,26.0,8.0
2888,4713.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,143.0,Bachelor's and master's degrees only,2015-2016,Other,22.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2890,4805.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120.0,Bachelor's and master's degrees only,2011-2012,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2891,4806.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120.0,Bachelor's and master's degrees only,2012-2013,Other,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2892,4808.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120.0,Bachelor's and master's degrees only,2013-2014,Other,21.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2893,4809.0,52.1200,Management Information Systems,Bachelor's,Academic Alliance,120.0,Bachelor's and master's degrees only,2014-2015,Other,18.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Filter Multiple columns based on numbers or strings
#searching for integer 456.0 in "Institution" column AND '2005-2006' in "School Year" Column
rawdata_dataframe[rawdata_dataframe["Institution"].isin([456.0]) & rawdata_dataframe["School Year"].isin(['2005-2006','2006-2007'])]

,Record#,CIP# Only,Major Program Name,Degree Level,NCWIT Participant,Institution,What degrees does your institution offer?,School Year,When do students typically declare their major?,"Enroll, Female: Avg. ACT Math Score (Enrl F)",...,Nonresident Alien (Min. M).1,Race/Ethnicity Unknown (Min. M).1,Nonresident Alien (Min. F).2,Race/Ethnicity Unknown (Min. F).2,Nonresident Alien (Min. M).2,Race/Ethnicity Unknown (Min. M).2,Nonresident Alien (Tot. F),Race/Ethnicity Unknown (Tot. F),Nonresident Alien (Tot. M),Race/Ethnicity Unknown (Tot. M)
0,1231.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2005-2006,End of 2nd Year,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1232.0,11.01,CS and/or Eng Multiple Majors (data submitted ...,Bachelor's,"Extension Services, Academic Alliance",456.0,Bachelor's and master's degrees only,2006-2007,End of 2nd Year,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
#searching for integers 456.0 , 72.0 in "Institution" column AND '2005-2006' in "School Year" Column
new_dataframe["School Year"]

657     2007-2008
659     2009-2010
663     2007-2008
669     2007-2008
671     2009-2010
672     2010-2011
673     2011-2012
677     2007-2008
679     2009-2010
680     2010-2011
681     2011-2012
682     2012-2013
686     2007-2008
693     2007-2008
695     2009-2010
696     2010-2011
697     2011-2012
698     2012-2013
701     2007-2008
704     2009-2010
705     2010-2011
706     2011-2012
707     2012-2013
712     2007-2008
714     2009-2010
715     2010-2011
716     2011-2012
717     2012-2013
720     2007-2008
722     2009-2010
          ...
1657    2013-2014
1658    2014-2015
1659    2015-2016
1660    2015-2016
1663    2010-2011
1664    2011-2012
1665    2012-2013
1666    2013-2014
1667    2014-2015
1678    2015-2016
1691    2015-2016
1692    2015-2016
1693    2015-2016
1697    2014-2015
1698    2015-2016
1704    2015-2016
1708    2015-2016
1709    2015-2016
1712    2011-2012
1713    2012-2013
1714    2013-2014
1715    2014-2015
1716    2015-2016
1717    2011-2012
1718    2012-2013
1719    2013-2014
1720    2014-2015
1721    2013-2014
1722    2014-2015
1723    2015-2016
Name: School Year, Length: 249, dtype: object

In [8]:
#Output results to csv

#Filtered for Institutions 456,72.0 for years 2005-2006
cleaned_data_filter1 = rawdata_dataframe[rawdata_dataframe["Institution"].isin([456.0,72.0]) &rawdata_dataframe["School Year"].isin(['2005-2006'])]

#Filtered for Records# > 3000.0 and for years 2005-2006
cleaned_data_filter2 = rawdata_dataframe[  (rawdata_dataframe["Record#"] > 3000.0)  & rawdata_dataframe["School Year"].isin(['2005-2006'])]

print(cleaned_data_filter2["School Year"])

new_dataframe =  pd.DataFrame()
new_dataframe = new_dataframe.append(cleaned_data_filter1)
new_dataframe = new_dataframe.append(cleaned_data_filter2)

new_dataframe.to_csv("clean_data.csv", sep='\t')

44      2005-2006
51      2005-2006
62      2005-2006
162     2005-2006
169     2005-2006
175     2005-2006
183     2005-2006
196     2005-2006
204     2005-2006
212     2005-2006
285     2005-2006
346     2005-2006
414     2005-2006
422     2005-2006
437     2005-2006
445     2005-2006
455     2005-2006
591     2005-2006
599     2005-2006
606     2005-2006
612     2005-2006
618     2005-2006
626     2005-2006
633     2005-2006
639     2005-2006
1141    2005-2006
1144    2005-2006
1150    2005-2006
1156    2005-2006
1175    2005-2006
          ...
1766    2005-2006
1777    2005-2006
1846    2005-2006
1854    2005-2006
1907    2005-2006
1947    2005-2006
1955    2005-2006
1963    2005-2006
2014    2005-2006
2021    2005-2006
2029    2005-2006
2037    2005-2006
2045    2005-2006
2052    2005-2006
2070    2005-2006
2092    2005-2006
2280    2005-2006
2282    2005-2006
2287    2005-2006
2293    2005-2006
2298    2005-2006
2317    2005-2006
2324    2005-2006
2332    2005-2006
2819    2005-2006
2853    2005-2006
2859    2005-2006
2866    2005-2006
2876    2005-2006
2903    2005-2006
Name: School Year, Length: 98, dtype: object